 /* Extra small devices (phones, 48px and down) */
 @media only screen and (min-width: 480px) {
     .container {
         width: 44rem;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .container {
         width: 56rem;
     }

     .header__title {
         font-size: 3.2rem;
         max-width: 44rem;
     }

     .header__caption {
         font-size: 1.6rem;
         max-width: 50rem;
     }

     .newsletters {
         justify-content: center;
     }


     .footer__caption {
         max-width: 60rem;
         align-items: center;
         justify-content: center;
     }

     .footer__caption-text {
         padding: 0 6rem;
         line-height: 1.4;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .container {
         width: 72rem;
     }

     .newsletters {
         justify-content: space-between;
     }

     .newsletters__title {
         margin-bottom: 0;
     }

     .footer__caption {
         flex-basis: 100%;
     }

     .footer__logo {
         align-self: center;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .container {
         width: 96rem;
     }

     .favorite__title-box {
         flex-basis: 60%;
     }

     .wrapper-rating {
         flex-basis: 40%;
     }

     .about {
         justify-content: space-between;
     }

     .about__banner {
         width: 50rem;
         height: 40rem;
         flex-grow: 0;
     }

     .about__content {
         flex-grow: 0;
     }

     .about__caption {
         margin-bottom: 2rem;
     }

     .price-content {
         margin-top: -10rem;
         align-items: flex-start;
     }

     .contact {
         justify-content: space-between;
     }

     .contact__banner {
         width: 50rem;
         height: 40rem;
         flex-grow: 0;
     }

     .contact__content {
         flex-grow: 0;
     }

     .price-content {
         margin-top: -10rem;
         align-items: flex-start;
     }

     .footer__wrapper {
         padding: 3rem 4rem;
     }

     .footer__caption {
         max-width: 36rem;
         flex-basis: 25%;
         margin-top: -5rem;
     }

     .footer__logo {
         align-self: flex-start;
     }

     .footer__caption-text {
         padding: 0;
         width: 36rem;
         text-align: left;
     }


     .footer__menus {
         flex-basis: 70%;
         max-width: 65rem;
         flex-wrap: nowrap;
         align-items: flex-start;
     }

     .footer__menu {
         align-items: self-start;
         width: 40rem;
         flex-basis: 33%;
         margin-right: 4rem;
     }

     .footer__menu:last-child {
         width: 20rem;
         flex-basis: 20%;
     }

     .footer__menu-item {
         align-self: flex-start;
     }


 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .container {
         width: 114rem;
     }

     .footer__wrapper {
         justify-content: space-between;
     }


 }